---
layout: page
# All the Categories of posts
---

{% include lang.html %} 
{% assign sort_categories = site.categories %}
<style>
  .post {
    padding: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--categories-border);
    border-radius: 0;
  }
  .list-group {
    padding: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--categories-border);
    border-radius: none;
  }
  .deepest {
    border: 0cm;
  }
  .border-transparent:not(:hover) {
    border-bottom: 1px solid transparent !important;
  }
</style>
<div id="categoriesContainer"></div>

<script>
    var sortCategories = {{ sort_categories | jsonify }};
    console.log(sortCategories)
</script>